
    <h1 class="text-center">List all articles</h1>
      <% @allarticles.each do |article|%>
      <div class="article-index">
      <div class="row justify-content-center">
      <%= link_to article.title, article_path(article) %>
      </div>
      <div class="row">>
      <%= truncate(article.description, lenght: 100) %>
      </div>
      <div class="row">
      <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary btn-sm col" %>
    <%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: 'Are you sure? Do you want to delete this article?'}, class: "btn btn-danger btn-sm col" %>
       </div>
       </div>
      <%end%>
