<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            min-width: 100vh;
            min-height: 95vh;
            color: black;
            background-color: aliceblue;
            font-family: 'Times New Roman', sans-serif;
        }
      
        main{
            margin: 20px;
        }
     
    </style>
</head>
<body>
    <header>
        <h1>About us</h1>
    </header>
    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero officia cupiditate, fuga eaque quis qui et, eius odio beatae quos minus accusantium ullam dolorum ducimus corporis cum voluptatibus repellat dolorem.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus et aliquam culpa quasi dolore blanditiis exercitationem repellat nulla alias suscipit incidunt maxime rem cupiditate consectetur fugit iure porro, sint mollitia!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur atque officiis tempore velit libero! Voluptatum incidunt reiciendis aspernatur id, molestiae perspiciatis labore eum doloremque fuga quasi sint optio atque tenetur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repellat aut, officiis perspiciatis commodi error tempore pariatur quos. Pariatur excepturi nesciunt deleniti fugit voluptate iusto animi perferendis doloribus sunt qui.
        </p>
        <hr>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo soluta aliquam in quos veritatis dicta provident sapiente quae accusamus vero omnis reprehenderit beatae aut suscipit, sequi nulla. Aut, minus atque.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, fuga aliquam atque a dolore beatae pariatur officia dignissimos placeat id tempora aut reiciendis esse ad corporis itaque quas repellendus at.
        </p>
        <hr>
    </main>
  
</body>
</html>