<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        main{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            margin-right: 50px;
        }
        img{
            width: 70%;
            height: 70%;
        }
      
    </style>
</head>
<body id="jhome">
<div class="bg-light p-5 rounded-lg m-3" id="opacity">
  <h1 class="display-4">Blogenesis</h1>
  <p class="lead">Blogenesis is a free Blog-site where you can post any kind of post.</p>
  <hr class="my-4">
  <p>Are you tired to pay for a blog site, have a bad quality and stuff like this? If yes, you are in he right place. Start your adeventure with us!</p>
  <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
</div>
</body>
</html>