
@import "bootstrap";


#logo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: -1px;
}

#jhome{
    min-height: 95vh;
    background-image: url('/assets/background_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  // position: absolute;
 }

footer{
    position: relative;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: auto;
}
#opacity{
   opacity: 0.8;
}
.article-index{
  background-color: lightgray;
  width: 45%;
  height:  35%;
  margin: auto;
  border: 3px solid rgb(252, 222, 54);
  padding: 30px;
}
.size-show-user-info{
  font-size: 18px;
  font-family: 'Times New Roman';
}

.container{
  min-height: 80vh;
}


// style for will pagination
.digg_pagination {
  background: white;
  cursor: default;
  margin: 10px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}

.list-user{
  list-style: none;
}