<h1 class= "text-center">Categories</h1>

 <%= will_paginate @categories, class: "digg_pagination" %>

<div class="list-group">
  <% @categories.each do |category| %>
      <p><span class="badge bg-warning text-dark"><%= pluralize(category.articles.count, "article")%></span></p>
    <p><%= link_to category.name, category_path(category), class: "list-group-item list-group-item-action col" %></p>
  <%end%>
</div>
 <%= will_paginate @categories, class: "digg_pagination" %>
